<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - 微信公众平台 小程序 企业号 开放平台 微信支付</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    @Styles.Render("~/Content/css")
    <link href="~/Content/darktooltip.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/danktooltip/js/jquery.darktooltip.min.js"></script>
    @RenderSection("HeaderContent", false)
</head>
<body>
    <div class="content">
        <div class="senparc-header">
            <div class="wrapper">
                <div class="logo">
                   logo
                </div>
                <div class="header-title">
                    <a href="@Url.Action("Index", "Home")" title="">test</a>
                </div>
                <div class="navbar-collapse">
                    <ul class="nav-catalog">
                        <li><a href="@Url.Action("Index", "Home")">首页</a></li>
                        <li><a href="@Url.Action("Index", "Menu")">菜单</a></li>
                        <li><a href="@Url.Action("Index", "SimulateTool")">消息模拟</a></li>
                        <li><a href="@Url.Action("JumpToMpOAuth", "OpenOAuth")">开放平台</a></li>
                        <li><a href="@Url.Action("Test", "Cache")">缓存测试</a></li>
                        <li><a href="https://sdk.weixin.senparc.com@(Url.Action("Index", "Document"))">帮助文档</a></li>
                        <li><a href="http://www.cnblogs.com/szw/archive/2013/05/14/weixin-course-index.html" target="_blank">教程</a></li>
                        <li><a href="https://weixin.senparc.com/QA" target="_blank">问答社区</a></li>
                        <li><a href="https://github.com/JeffreySu/WeixinResource" target="_blank">更多开发资源</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- 公告 -->
        <div id="noticearea">
            <div class="wrapper">
               <span>test公告</span>
            </div>
        </div>
        @if (ViewData["HideBanner"] == null)
        {
            <div class="senparc-jumbotron">
                <div class="wrapper">
                    <div class="container-left">
                        <ul>
                           test
                        </ul>
                    </div>
                    <div class="container-right">
                        test
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }

        @if (!IsSectionDefined("catalog"))
        {
            <div class="catalog">
                <a href="@Url.Action("Index", "Menu")">自定义菜单设置工具</a>
                <a href="@Url.Action("Index", "SimulateTool")">消息模拟工具</a>
                <a href="@Url.Action("Test", "Cache")">缓存测试</a>
                <a href="@Url.Action("Index", "AsyncMethods")">异步方法</a>
                <a href="https://sdk.weixin.senparc.com@(Url.Action("Index", "Document"))">帮助文档</a>
            </div>
        }
        @RenderBody()
        <div class="feedback">
            book

        </div>
        <div class="footer">
            <p class="footer-contact">
            </p>
            <p class="footer-icon">&copy; 2006-@DateTime.Now.Year Yaohappy网络科技有限公司，版权所有，保留所有权利。</p>
        </div>
        @RenderSection("scripts", required: false)
        <div style="display: none;">
            <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "//hm.baidu.com/hm.js?a8ad9ff7b9dd4cbb5510f6a929ba085f";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();

                $(function () {
                    loadQQGroups();
                });

                function loadQQGroups() {
                    $.ajax({
                        type: "get",
                        async: false,
                        url: "https://weixin.senparc.com/WeixinSdk/GetSdkQqGroupListJson",
                        dataType: "jsonp",
                        jsonp: "callbackparam", //服务端用于接收callback调用的function名的参数
                        jsonpCallback: "success_jsonpCallback", //callback的function名称
                        success: function (json) {
                            $('#qqGroups').html(json[0].html);
                            $('#contact-content li.contact-qq').darkTooltip({
                                theme: 'light'
                            });
                        },
                        error: function () {
                            //alert('fail');
                        }
                    });
                }
            </script>
        </div>
    </div>
</body>
</html>
